<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <!-- NAVIGATION BAR here -->
    <% include navbar %>
    <!-- BODY here -->
    <h1 class="header">Movies Now Screening</h1>
    <section class="movies">
      <% movies.forEach(movie => { %>
        <div class="movie-box">
          <a href="/movies/<%= movie.id %>"><img src="<%= imageBaseUrl + movie.poster_path %>"></a>
          <h2 class="title">
            <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
          </h2>
        </div>
      <% }) %>
    </section>
  

    

    <p class="overview">

    </p>
  </body>
</html>
