<nav>
    <ul><a href="/">Home</a></ul>
    <form action="/search" class="search" method="post">
        <select name="category" id="category">
            <option value="movie">Movie</option>
            <option value="actor">Actor</option>
        </select>
        <input type="text" id="movie" placeholder="Search" name="movieSearch">
    </form>
</nav>
